{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "cachyos" }}
source /usr/share/cachyos-fish-config/cachyos-config.fish
{{- end }}
{{- end }}

# Force EZA variables here, since the fish-eza plugin INSISTS on overriding my values on shell load
# with invalid ones
set -e EZA_STANDARD_OPTIONS
set -Ux EZA_STANDARD_OPTIONS --smart-group --header --group-directories-first --hyperlink --time-style=long-iso --icons=always

{{/* Prompt */}}
{{- if lookPath "starship" }}
if test "$TERM" != "dumb"
  function starship_transient_prompt_func
    starship module character
  end
  starship init fish | source
  enable_transience # Enable transience for prompt, so it can remove/modify previous prompt lines
end
{{- end }}

# overwrite greeting
function fish_greeting
end
