{{- $homebrewInstallType := "" }}
{{- $homebrewPath := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if hasKey . "homebrewInstallType" }}
{{-     $homebrewInstallType = .homebrewInstallType }}
{{-   else }}
{{-     $homebrewInstallType = promptChoice "How would you like to install Homebrew on this Mac?" (list "standard" "alternative") }}
{{-   end }}
{{-   if eq $homebrewInstallType "alternative" }}
{{-     if hasKey . "homebrewPath" }}
{{-       $homebrewPath = .homebrewPath }}
{{-     else }}
{{-       $homebrewPath = promptString "Enter the homebrew installation path (relative to home directory)" ".homebrew" }}
{{-     end }}
{{-   end }}
{{- end }}

{{- $skip1Password := false }}
{{- if hasKey . "skip1Password" }}
{{-   $skip1Password = .skip1Password }}
{{- else if env "CHEZMOI_SKIP_1PASSWORD" }}
{{-   $skip1Password = true }}
{{- else }}
{{-   $skip1Password = false }}
{{- end }}

data:
{{- if eq .chezmoi.os "darwin" }}
  homebrewInstallType: {{ $homebrewInstallType | quote }}
{{-   if eq $homebrewInstallType "alternative" }}
  homebrewPath: {{ $homebrewPath | quote }}
  brewBin: {{ printf "$HOME/%s/bin/brew" $homebrewPath | quote }}
{{-   else }}
  brewBin: "brew"
{{-   end }}
{{- end }}
  skip1Password: {{ $skip1Password }}