{{- $homebrewInstallType := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if hasKey . "homebrewInstallType" }}
{{-     $homebrewInstallType = .homebrewInstallType }}
{{-   else }}
{{-     $homebrewInstallType = promptChoice "How would you like to install Homebrew on this Mac?" (list "standard" "alternative") }}
{{-   end }}
{{- end }}

{{- $skip1Password := false }}
{{- if hasKey . "skip1Password" }}
{{-   $skip1Password = .skip1Password }}
{{- else if env "CHEZMOI_SKIP_1PASSWORD" }}
{{-   $skip1Password = true }}
{{- else }}
{{-   $skip1Password = false }}
{{- end }}

data:
{{- if eq .chezmoi.os "darwin" }}
  homebrewInstallType: {{ $homebrewInstallType | quote }}
{{- end }}
  skip1Password: {{ $skip1Password }}