#!/usr/bin/env zsh

{{- template "brew_eval" . }}

# Force en_US.UTF-8 locale
export LC_ALL=en_US.UTF-8

## PATH
PATH="$HOME/.local/bin:$PATH" # User-installed binaries
PATH="$HOME/.rd/bin:$PATH" # Rancher Desktop for Docker management
PATH="$HOMEBREW_PREFIX/opt/libpq/bin:$PATH" # PostgreSQL
PATH="${XDG_DATA_HOME:-$HOME/.local/share}/mise/shims:$PATH" # Mise shims
PATH="${XDG_DATA_HOME:-$HOME/.local/share}/google-cloud-sdk/bin:$PATH" # Google Cloud SDK
PATH="$HOME/.local/share/yabridge:$PATH" # Yabridge for VST plugins
export PATH

## HISTORY
export HISTFILE=~/.zsh_history
export HISTSIZE=500000
export SAVEHIST=500000
setopt EXTENDED_HISTORY          # Write the history file in the ":start:elapsed;command" format.
setopt INC_APPEND_HISTORY        # Write to the history file immediately, not when the shell exits.
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_FIND_NO_DUPS         # Do not display a line previously found.
setopt HIST_SAVE_NO_DUPS         # Don't write duplicate entries in the history file.
setopt HIST_REDUCE_BLANKS        # Remove superfluous blanks before recording entry.

## COMPLETIONS
zstyle ':completion:*' menu yes select
zstyle ':completion:*' format $'\e[2;37mCompleting %d\e[m'
{{- if lookPath "eza" }}
# eza styles https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/eza#configuration
zstyle ':omz:plugins:eza' 'dirs-first' 'yes'
zstyle ':omz:plugins:eza' 'git-status' 'yes'
zstyle ':omz:plugins:eza' 'header' 'yes'
zstyle ':omz:plugins:eza' 'show-group' 'yes'
zstyle ':omz:plugins:eza' 'icons' 'yes'
zstyle ':omz:plugins:eza' 'size-prefix' 'si'
zstyle ':omz:plugins:eza' 'time-style' 'long-iso'
zstyle ':omz:plugins:eza' 'hyperlink' 'yes'
{{- end }}
# Configure builtin completions
zmodload -a colors
zmodload -a autocomplete
zmodload -a complist
autoload -Uz compinit && compinit
{{- if lookPath "carapace" }}
# Load carapace completions
# It includes completions for: aws, gcloud, docker, git, kubectl, terraform, and more
source <(carapace _carapace)
{{- end }}

{{- if lookPath "op" }}
# Load op completions
source <(op completion zsh)
{{- end }}

{{- if lookPath "starship" }}
# Load starship prompt
source <(starship init zsh)
{{- end }}

# Load antidote plugin manager
source "$HOMEBREW_PREFIX/opt/antidote/share/antidote/antidote.zsh"
# initialize plugins statically with ${ZDOTDIR:-~}/.zsh_plugins.txt
antidote load

{{- if lookPath "fzf" }}
# Integrate fzf
source <(fzf --zsh)
export FZF_COMPLETION_OPTS='--border --info=inline'
export FZF_DEFAULT_OPTS='--height 60% --tmux=center,80% --layout=reverse --border --info=inline'
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
## MacOS-specific fixes

# Erlang install fixes
UNIXODBCHOME="$HOMEBREW_PREFIX/opt/unixodbc"
export CPPFLAGS="${CPPFLAGS+"$CPPFLAGS "}-I${UNIXODBCHOME}/include"
export LDFLAGS="${LDFLAGS+"$LDFLAGS "}-L${UNIXODBCHOME}/lib"
export KERL_CONFIGURE_OPTIONS="--with-odbc=${UNIXODBCHOME}"
{{- end }}

{{- if (gt (len (glob ".config/op/plugins.sh")) 0) }}
source $HOME/.config/op/plugins.sh
{{- end }}

# Set up aliases
source $HOME/.config/zsh/aliases.zsh

{{- if (gt (len (glob ".config/zsh/.zshrc.local")) 0) }}
# Per-machine configuration
source $HOME/.config/zsh/.zshrc.local
{{- end }}
