[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
  {{- if not .skip1Password }}
  {{- if eq .chezmoi.os "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOs/op-ssh-sign"
  {{- else if eq .chezmoi.os "linux" }}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}
  {{- end }}
[init]
  defaultBranch = main
[commit]
  {{- if not .skip1Password }}
  gpgSign = true
  {{- else }}
  gpgSign = false
  {{- end }}
  template = ~/.gitmessage
[user]
  name = "Ender Veiga Bueno"
  email = "letstalk@ender.codes"
  {{- if not .skip1Password }}
  signingkey = {{ template "onepassword_safe" dict "opPath" "op://Private/Personal Key/public key" "envVar" "CHEZMOI_GIT_SIGNING_KEY" "context" . }}
  {{- else if env "CHEZMOI_GIT_SIGNING_KEY" }}
  signingkey = {{ env "CHEZMOI_GIT_SIGNING_KEY" }}
  {{- end }}
[github]
  user = "Kaylebor"
[includeIf "gitdir/i:~/work/"]
  path = ~/work/.gitconfig
[push]
  autoSetupRemote = true
  default = simple
[core]
  pager = cat
  excludesfile = ~/.gitignore
[interactive]
  diffFilter = cat
[diff]
  external = difft
[merge]
  conflictStyle = zdiff3
[diff]
  colorMoved = default
[status]
  short = true
  branch = true
[format]
  pretty = format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"
[log]
  date = relative
  abbrevCommit = true
  mailmap = true
[alias]
  showd = show --ext-diff
