{{- if .useLlamaSwap -}}
{
  "openai/deepseek-r1-q4-54l-16k-fa": {
    "max_tokens": 4096,
    "max_input_tokens": 16384,
    "max_output_tokens": 4096,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/deepseek-r1-q4-40l-32k-fa": {
    "max_tokens": 8192,
    "max_input_tokens": 32768,
    "max_output_tokens": 8192,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/deepseek-r1-q4-16l-128k-kq8fa": {
    "max_tokens": 16384,
    "max_input_tokens": 131072,
    "max_output_tokens": 16384,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/deepseek-r1-q4-16l-256k-kq8fa": {
    "max_tokens": 32768,
    "max_input_tokens": 262144,
    "max_output_tokens": 32768,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3-a3b-q4-54l-16k-fa": {
    "max_tokens": 4096,
    "max_input_tokens": 16384,
    "max_output_tokens": 4096,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3-a3b-q4-40l-32k-fa": {
    "max_tokens": 8192,
    "max_input_tokens": 32768,
    "max_output_tokens": 8192,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3-a3b-q4-16l-128k-kq8fa": {
    "max_tokens": 16384,
    "max_input_tokens": 131072,
    "max_output_tokens": 16384,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3-a3b-q4-16l-256k-kq4fa": {
    "max_tokens": 32768,
    "max_input_tokens": 262144,
    "max_output_tokens": 32768,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3-a3b-q4-20l-1m-yarn-kq4fa": {
    "max_tokens": 65536,
    "max_input_tokens": 1048576,
    "max_output_tokens": 65536,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3coder-a3b-q4-54l-16k-fa": {
    "max_tokens": 4096,
    "max_input_tokens": 16384,
    "max_output_tokens": 4096,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3coder-a3b-q4-40l-32k-fa": {
    "max_tokens": 8192,
    "max_input_tokens": 32768,
    "max_output_tokens": 8192,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3coder-a3b-q4-16l-128k-kq8fa": {
    "max_tokens": 16384,
    "max_input_tokens": 131072,
    "max_output_tokens": 16384,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3coder-a3b-q4-16l-256k-kq8fa": {
    "max_tokens": 32768,
    "max_input_tokens": 262144,
    "max_output_tokens": 32768,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3coder-a3b-q4-8l-512k-kq4fa": {
    "max_tokens": 65536,
    "max_input_tokens": 524288,
    "max_output_tokens": 65536,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3coder-a3b-q4-20l-768k-kq4fa": {
    "max_tokens": 98304,
    "max_input_tokens": 786432,
    "max_output_tokens": 98304,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3coder-a3b-q4-20l-900k-kq4fa": {
    "max_tokens": 115200,
    "max_input_tokens": 921600,
    "max_output_tokens": 115200,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/qwen3coder-a3b-q4-20l-1m-kq4fa": {
    "max_tokens": 131072,
    "max_input_tokens": 1048576,
    "max_output_tokens": 131072,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-std-q4-72l-16k-fa": {
    "max_tokens": 4096,
    "max_input_tokens": 16384,
    "max_output_tokens": 4096,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-std-q4-56l-32k-fa": {
    "max_tokens": 8192,
    "max_input_tokens": 32768,
    "max_output_tokens": 8192,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-std-q4-16l-128k-kq8fa": {
    "max_tokens": 16384,
    "max_input_tokens": 131072,
    "max_output_tokens": 16384,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-std-q4-16l-256k-kq4fa": {
    "max_tokens": 32768,
    "max_input_tokens": 262144,
    "max_output_tokens": 32768,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-std-q4-16l-768k-kq4fa": {
    "max_tokens": 98304,
    "max_input_tokens": 786432,
    "max_output_tokens": 98304,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-std-q4-40l-512k-kq4fa": {
    "max_tokens": 65536,
    "max_input_tokens": 524288,
    "max_output_tokens": 65536,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-std-q4-40l-1m-kq4fa": {
    "max_tokens": 131072,
    "max_input_tokens": 1048576,
    "max_output_tokens": 131072,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-unc-q4-72l-32k-fa": {
    "max_tokens": 8192,
    "max_input_tokens": 32768,
    "max_output_tokens": 8192,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-unc-q8-56l-16k-fa": {
    "max_tokens": 4096,
    "max_input_tokens": 16384,
    "max_output_tokens": 4096,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-unc-q4-16l-128k-kq8fa": {
    "max_tokens": 16384,
    "max_input_tokens": 131072,
    "max_output_tokens": 16384,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  },
  "openai/gptoss-unc-q4-16l-256k-kq4fa": {
    "max_tokens": 32768,
    "max_input_tokens": 262144,
    "max_output_tokens": 32768,
    "input_cost_per_token": 0.0,
    "output_cost_per_token": 0.0,
    "litellm_provider": "openai",
    "mode": "chat"
  }
}
{{- else -}}
{}
{{- end -}}