[gpg]
  format = ssh
[gpg "ssh"]
  alllowedSignersFile = ~/.ssh/allowed_signers
  {{- if eq .chezmoi.os "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOs/op-ssh-sign"
  {{- else if eq .chezmoi.os "linux" }}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}
[init]
  defaultBranch = main
[commit]
  gpgSign = true
[user]
  name = "Ender Veiga Bueno"
  email = "letstalk@ender.codes"
  signingkey = {{ onepasswordRead "op://Private/Personal Key/public key" "my.1password.com" }}
[github]
  user = "Kaylebor"
[include]
  path = ~/.local/share/delta/catppuccin.gitconfig
[includeIf "gitdir/i:~/work/"]
  path = ~/work/.gitconfig
[push]
  autoSetupRemote = true
  default = simple
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
  features = catppuccin-frappe
[merge]
  conflictStyle = zdiff3
[diff]
  colorMoved = default
[status]
  short = true
  branch = true
[format]
  pretty = format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"
[log]
  date = relative
  abbrevCommit = true
  mailmap = true
