model: gemini/gemini-2.5-pro-exp-03-25
api-key:
  - gemini={{ onepasswordRead "op://Private/kvupxk4odcrfhpzy7pi5sfmqnu/credential" "my.1password.com" }}
  - openrouter={{ onepasswordRead "op://Private/OpenRouter/API Token" "my.1password.com" }}
  - deepseek={{ onepasswordRead "op://Private/uwefkotil3tiviesvltifiokmm/credential" "my.1password.com" }}
