#!/bin/bash
{{- if (not (lookPath "brew")) }}
# Install Homebrew
/bin/bash -c "$(curl -fsSL {{ .urls.homebrew.install }})"
{{- end }}
{{- template "brew_eval" . }}

# Install Homebrew packages
brew bundle --no-lock --file=- <<EOF
{{ range .packages.any.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
