#!/usr/bin/env bash
{{- if lookPath "fish" }}

{{/* Version management */}}
{{- if lookPath "mise" }}
# Activate mise
echo 'if status --is-interactive' >.config/fish/conf.d/mise.fish
mise activate fish >>.config/fish/conf.d/mise.fish
echo 'end' >>.config/fish/conf.d/mise.fish
{{- end }}

{{/* History lookup */}}
{{- if lookPath "fzf" }}
# Integrate fzf
fzf --fish >.config/fish/conf.d/0fzf_key_bindings.fish
{{- end }}

{{/* Prompt */}}
{{- if lookPath "starship" }}
# Integrate starship
starship init fish --print-full-init >.config/fish/conf.d/starship.fish
{{- end }}

fish -c "source {{ .chezmoi.sourceDir }}/.fish_env.fish"

{{- if eq .chezmoi.os "darwin" }}
# MacOS-specific variable configuration
fish -l -c "fish_add_path -Uam (brew --prefix sqlite)/bin"
{{- end }}

{{- end }}
