#!/usr/bin/env bash

# Install Mise tools
mise install

{{- if lookPath "atuin" }}
# Use atuin for history management
if ! atuin status | rg '\[Remote\]' >/dev/null 2>&1; then
  atuin login -u "{{ onepasswordRead "op://Private/Atuin/username" "my.1password.com" }}" -p "{{ onepasswordRead "op://Private/Atuin/password" "my.1password.com" }}" -k "{{ onepasswordRead "op://Private/Atuin/key" "my.1password.com" }}"
fi
{{- end }}

nvim --headless +PlugInstall +qall
