#!/usr/bin/env bash

# Install Mise tools
mise install

{{- if lookPath "atuin" }}
# Use atuin for history management
if ! atuin status | rg '\[Remote\]' >/dev/null 2>&1; then
  atuin login -u "{{ onepasswordRead "op://Private/Atuin/username" }}" -p "{{ onepasswordRead "op://Private/Atuin/password" }}" -k "{{ onepasswordRead "op://Private/Atuin/key" }}"
fi
{{- end }}

nvim --headless +PlugInstall +qall
