# Fuzzel configuration with Catppuccin Frappe theme

[main]
# Include the Catppuccin Frappe theme (sapphire accent)
# This will import all [colors] settings from the theme file
include={{ .chezmoi.homeDir }}/.config/fuzzel/themes/catppuccin-frappe-sapphire.ini

font=JetBrainsMono Nerd Font:size=12
dpi-aware=yes
horizontal-pad=20
vertical-pad=15
inner-pad=10
prompt=❯ 
icon-theme=Papirus-Dark
icons-enabled=yes
fields=filename,name,generic,exec
show-actions=yes
terminal=ghostty
lines=15
tabs=4
width=40