;; -*- lexical-binding: t; -*-
(use-package gptel :ensure t
  :custom
  (gptel-backend (gptel-make-openai "Synthetic"
                   :host "api.synthetic.new"
                   :endpoint "/openai/v1/chat/completions"
                   :stream t
                   :key {{- if .skip1Password }} "{{ env "SYNTHETIC_API_KEY" }}"
                   {{- else }} (lambda (auth-source-pick-first-password :host "Synthetic" :user "API Token"))
                   {{- end }}
                   :models '(hf:moonshotai/Kimi-K2-Thinking
                             hf:zai-org/GLM-4.6
                             hf:deepseek-ai/DeepSeek-V3.2
                             hf:meta-llama/Llama-4-Maverick-17B-128E-Instruct-FP8)))
  (gptel-model 'hf:moonshotai/Kimi-K2-Thinking)
  (gptel-use-tools t)
  (gptel-confirm-tool-calls 'always))

(elpaca (gptel-agent :host github :repo "karthink/gptel-agent" :branch "master" :files (:defaults "agents/*"))
  (gptel-agent-update))
