[tools]
ruby = "3"
node = "latest"
go = "1.23"
python = "3.13.1"
java = "temurin-23.0.1+11"
elixir = "1.17.3-otp-27"
erlang = "27.2"
rust = "stable"

[settings]
experimental = true
disable_tools = ["python"]

[env]
# It is safer to unset this, as `go install` breaks otherwise, and anyway this is being set to `$GOROOT/bin` which is the default already
GOBIN = ""
{{- if eq .chezmoi.arch "arm64" }}
GOARCH = "amd64"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.idLike "arch" }}
KERL_CONFIGURE_OPTIONS="--with-odbc=/var/lib/pacman/local/unixodbc-$(pacman -Q unixodbc | cut -d' ' -f2)"
{{- end }}
{{- end }}
