[tools]
ruby = "3"
node = "latest"
go = "latest"
python = "3.13.1"
java = "graalvm-community-23"
elixir = "latest"
erlang = "latest"
rust = "stable"
deno = "latest"
bun = "latest"
"cargo:mdopen" = "latest"
"gem:debug" = "latest"
"gem:pry" = "latest"
"gem:rails" = "latest"
"gem:rubocop" = "latest"
"gem:solargraph" = "latest"
"gem:yard" = "latest"
"go:github.com/chrishrb/go-grip" = "latest"
"go:github.com/cweill/gotests/gotests" = "latest"
"go:github.com/evilmartians/lefthook" = "latest"
"go:github.com/fatih/gomodifytags" = "latest"
"go:github.com/jessfraz/dockfmt" = "latest"
"go:github.com/stamblerre/gocode" = "latest"
"go:github.com/x-motemen/gore/cmd/gore" = "latest"
"go:golang.org/x/tools/cmd/godoc" = "latest"
"go:golang.org/x/tools/cmd/goimports" = "latest"
"go:golang.org/x/tools/gopls" = "latest"
"go:honnef.co/go/tools/cmd/staticcheck" = "latest"
"go:mvdan.cc/sh/v3/cmd/shfmt" = "latest"
"npm:@github/copilot-language-server" = "latest"
"npm:clipboard-cli" = "latest"
"npm:firebase-tools" = "latest"
"npm:typescript-language-server" = "latest"
"npm:vscode-langservers-extracted" = "latest"

[settings]
experimental = true
disable_tools = ["python"]

[env]
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "arch") }}
KERL_CONFIGURE_OPTIONS="--with-odbc=/var/lib/pacman/local/unixodbc-{{ output "pacman" "-Q" "unixodbc" | trim | splitList " " | last }}"
{{- end }}
