[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
  {{- if not .skip1Password }}
  {{- if eq .chezmoi.os "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOs/op-ssh-sign"
  {{- else if eq .chezmoi.os "linux" }}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}
  {{- end }}
[init]
  defaultBranch = main
[commit]
  gpgSign = true
  template = ~/.gitmessage
[user]
  name = "Ender Veiga Bueno"
  email = "letstalk@ender.codes"
  {{- if .skip1Password }}
  {{- if env "CHEZMOI_GIT_SIGNING_KEY" }}
  signingkey = {{ env "CHEZMOI_GIT_SIGNING_KEY" }}
  {{- else }}
  signingkey = {{ .signingKey }}
  {{- end }}
  {{- else }}
  signingkey = {{ template "onepassword_safe" dict "opPath" "op://Private/Personal Key/public key" "envVar" "CHEZMOI_GIT_SIGNING_KEY" "context" . }}
  {{- end }}
[github]
  user = "Kaylebor"
[includeIf "gitdir/i:~/work/"]
  path = ~/work/.gitconfig
[push]
  autoSetupRemote = true
  default = simple
[core]
  pager = cat
  excludesfile = ~/.gitignore
[interactive]
  diffFilter = cat
[diff]
  external = difft
[merge]
  conflictStyle = zdiff3
[diff]
  colorMoved = default
[status]
  short = true
  branch = true
[format]
  pretty = format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"
[log]
  date = relative
  abbrevCommit = true
  mailmap = true
[alias]
  # Viewing
  showd = show --ext-diff
  s = status -sb
  lg = log --oneline --decorate --graph
  lgd = "!git log origin/HEAD..HEAD --oneline"
  
  # Diff
  d = diff
  dd = diff origin/HEAD
  dc = diff --cached
  dn = diff --no-ext-diff
  
  # Switching branches (dynamic default branch support)
  # Uses origin/HEAD to work with both main and master repos
  swd = "!f() { git switch \"$(git rev-parse --abbrev-ref origin/HEAD | sed 's|^origin/||')\"; }; f"
  sw = switch
  
  # Fetch from default branch
  fd = fetch origin HEAD
  
  # Rebase onto default branch
  rd = rebase origin/HEAD
  
  # Pull from default branch
  pld = "!f() { git pull origin \"$(git rev-parse --abbrev-ref origin/HEAD | sed 's|^origin/||')\"; }; f"
  
  # Add and commit combos
  aa = add --all
  cm = commit -m
  ca = commit --amend
  can = commit --amend --no-edit
  
  # Push with safety
  pf = push --force-with-lease
