alias q="exit"
{{- if lookPath "rg" }}
ALIASED_RG_OPTS='-P'
rg() {
  case $TERM_PROGRAM in
    *zed*)
      command rg $ALIASED_RG_OPTS --no-heading --line-number --column --with-filename "$@"
      ;;
    *)
      command rg $ALIASED_RG_OPTS "$@"
      ;;
  esac
}
{{- end }}
{{- if lookPath "clipboard" }}
alias cb="clipboard"
{{- end }}
{{- if lookPath "bat" }}
alias cat="bat"
{{- end }}
{{- if lookPath "delta" }}
alias diff="delta"
{{- end }}
{{- if lookPath "lima" }}
alias nerdctl="lima nerdctl"
{{- end }}
{{- if lookPath "eza" }}
# Override ls with eza without hyperlinks to prevent terminal formatting issues
alias ls='eza --smart-group --header --group-directories-first --time-style=long-iso --icons=always'
{{- end }}
